/* .body {
  position: absolute;
}

.tileLevel2Position {
  position: relative;
  left: 25px;
}
.tileLevel3Position {
  position: relative;
} */

.tile-img {
  width: 50px;
  height: 50px;
  border: 2px solid gray;
}

/* .tile-selected {
  visibility: hidden;
} */
